@model SiteStatisticsViewModel

<div class="card-header">Site istatislikleri</div>
<div class="card-body">
    <div class="row">
        <div class="col-8">
            <ul class="list-unstyled mb-0">
                <li>
                    Konu Sayısı
                </li>
                <li>
                    Mesaj Sayısı
                </li>
                <li>
                    Üye sayısı
                </li>
                <li>
                    Son üye
                </li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-unstyled mb-0">
                <li>
                    @Model.SubjectCount
                </li>
                <li>
                    @Model.CommentCount
                </li>
                <li>
                    @Model.Usercount
                </li>
                <li>
                    @Model.LastUser
                </li>
            </ul>
        </div>
    </div>
</div>