@page

@{
    ViewData["Title"] = "Bir hata oluştu";
}

<div class="container mt-5 mb-lg-5" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Böyle bir sayfa yok</p>
    <p>Kaybolmuş gibisin.</p>
    <a href="/" style="text-decoration: none;color: blueviolet">Ana sayfa</a>
</div>
