<div class="col-lg-12 mb-4">
                
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Oku</h6>
        </div>
        <div class="card-body">
            <p>Elinizden geldiği kadar tüm konuları onaylayın eğer noktalama hatası varsa düzeltin öyle yollayın.</p>
            <p class="mb-0">Küfür engelleyiciden geçmiş mesajları mesaj aramada aklınıza gelen arama parametre ile arayın bulduklarınızı silin ve ban atın 1 gün.</p>
        </div>
    </div>
                
</div>