

<div class="text-center">
    <h6 class="display-6">
        Şifreni Sıfırla
    </h6>
</div>

<form method="post" asp-action="ForgotPassword">
    <div class="text-danger" asp-validation-summary="All"></div>
    
    <div class="form-group">
        <label>Email adresi</label>
        <input class="form-control" name="Email" type="email" aria-describedby="emailHelp" placeholder="email">
    </div>


    <a class="btn btn-outline-dark" asp-action="Login">Giriş Yap</a>
    <button type="submit" class="btn btn-primary my-3">Gönder</button>
</form>