@page "/hakkinda"
@{
    ViewData["Title"] = "Hakkında";
}

<!-- About Section-->
<section class="bg-light py-5 mt-3">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder">
                        <span class="text-gradient d-inline">Site sahibi hakkında</span>
                    </h2>
                    <p class="lead fw-light mb-4">Merhabalar ben Buğra <br><i><small>Backend-Full Stack developer</small></i></p>
                    <p class="text-muted">20 yaşındayım ,doğma büyüme Istanbulluyum.Bilgisayar Mühendisliği öğrencisiyim.Gargamelinburnu.com sitesi yazılıma başladığımda hep aklımda olan bir site fikriydi.Ancak bugüne nasip oldu hayata geçirmek.Bu site fikri insanların birbirlerine sorular sorarak ve cevaplar alarak yardım etmeleri amacıyla geldi.Sitemi tamamen kendim yazdım.Bazı sayfa tasarımlarında arkadaşımdan yardım aldım.
                        Şu an tamamen tamamlanmış bir site değil.Aldığınız hata olursa ya da aklınızda güzel fikirler varsa görüş ve önerilerinizi yazmaktan çekinmeyin.</p>
                    <div class="d-flex justify-content-center fs-2 gap-4 mt-4">
                        <a class="" href="https://www.youtube.com/channel/UCH_KBWdqaxgeniTVW_j7BNg" target="_blank">
                            <i class="fa fa-youtube text-danger" style="text-decoration: none;font-size: 36px"></i>
                        </a>
                        <a class="mx-2" href="https://www.linkedin.com/in/bu%C4%9Fra-%C3%B6zdemir-a500b9247/" target="_blank">
                            <i class="fa fa-linkedin text-primary" style="text-decoration: none;font-size: 36px"></i>
                        </a>
                        <a class=" " href="https://github.com/bugraozdmr" target="_blank">
                            <i class="fa fa-github text-dark" style="text-decoration: none;font-size: 36px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>