@page "/gizlilik_sozlesmesi"

@{
    ViewData["Title"] = "Gizlilik Sözleşmesi";
}

<div class="row mt-3">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <b>Gizlilik Sözleşmesi</b>
            </div>
            <div class="card-body">
                <h3>Gizlilik</h3>
                gargamelinburnu.com sitesi olarak kişisel gizlilik haklarınıza saygı duyuyor ve sitemizde geçirdiğiniz süre zarfında bunu sağlamak için çaba sarfediyoruz. Kişisel bilgilerinizin güvenliği ile ilgili açıklamalar aşağıda belirtilmiş ve bilginize sunulmuştur.
                
                
                <h3>Çerezler (Cookies)</h3>
                “Cookie – Çerez” kelimesi web sayfası sunucusunun sizin bilgisayarınızın hard diskine yerleştirdiği ufak bir text dosyasını tanımlamak için kullanılmaktadır. Sitemizin bazı bölümlerinde kullanıcı kolaylığı sağlamak için çerez kullanılıyor olabilir. Ayrıca sitede mevcut bulunan reklamlar aracılığıyla, reklam verilerinin toplanması için cookie ve web beacon kullanılıyor olabilir. Bu tamamen sizin izninizle gerçekleşiyor olup, isteğiniz dahilinde internet tarayıcınızın ayarlarını değiştirerek bunu engellemeniz mümkündür.
                
                <h3>Reklamlar</h3>
                Google, iş ortaklarının web sitelerinde (Google reklamları yayınlayan veya Google sertifikalı reklam ağlarına katılan web siteleri gibi) reklam yayınlanmak için çerez kullanır. Kullanıcılar bir Google iş ortağının web sitesini ziyaret ettiğinde son kullanıcının tarayıcısına bir çerez bırakılabilir.
                
                Google dahil üçüncü taraf tedarikçiler, kullanıcıların web sitenize veya diğer web sitelerine yaptığı önceki ziyaretleri temel alan reklamlar yayınlamak için çerez kullanmaktadır.
                Google’ın reklam çerezlerini kullanması, Google ve iş ortaklarının kullanıcılara siteniz ve/veya internetteki diğer sitelere yaptıkları ziyaretleri temel alan reklamlar sunmasına olanak tanır.
                Kullanıcılar Reklam Ayarları sayfasını ziyaret ederek kişiselleştirilmiş reklamcılığı devre dışı bırakabilir.
                
                <h3>Bilgilendirme</h3>
                gargamelinburnu.com çerez ve gizlilik politikalarını değiştirme hakkını saklı tutar. Bu siteyi kullandığınızda, bu koşulları kabul etmiş sayılırsınız. Gizlilik ve çerez politikalarına dair değişimler, bu sayfa üzerinden ilan edilir.
                
                Bu “<b>Gizlilik Politikası</b>” sözleşmesi en son 26.02.2024 tarihinde güncellenmiştir.
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <b>Diğer sayfalar</b>
            </div>
            <div class="card-body">
                <ul style="list-style: none">
                    <li><a asp-controller="Home" asp-action="Index" style=";text-decoration: none;color: black">Ana sayfa</a></li>
                    <li><a asp-page="/About" aria-current="page" style="text-decoration: none;color: black">Hakkında</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>