@model List<SideBarViewModel>

<div class="container d-md-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-2 pt-5">
            <div class="mb-5">
                <h3 style="color: lightpink;font-size: 1rem" class="mb-2">ilginizi çekebilecekler</h3>
                <div class="tagcloud">
                    @foreach (var item in Model)
                    {
                        <a asp-controller="Home" asp-action="tag" asp-area="Main" asp-route-tagUrl="@item.Tagurl"
                           class="tag-cloud-link"
                           title="bu konu hakkında daha fazla yazı"
                           style="text-decoration: none">
                            @item.Tagname
                        </a>
                    }
                </div>
            </div>
        </div>
    </nav>
</div>