@model List<SideBarViewModel>

<div class="container d-md-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-2 pt-5">
            <div class="mb-5">
                <h5 style="color: lightpink" class="mb-2">ilginizi çekebilecekler</h5>
                <div class="tagcloud">
                    @foreach (var item in Model)
                    {
                        <a asp-controller="Home" asp-action="tag" asp-area="Main" asp-route-tagUrl="@item.Tagurl"
                            class="tag-cloud-link">@item.Tagname</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</div>