<header>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/forum">
                TechArsiv
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/forum">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Users" asp-controller="Home">Kullanıcılar</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                Sosyal
                            </a>

                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="userSubjects">
                                        <b>Kullanıcı konuları</b>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="followedSubjects" asp-controller="Home">
                                        <b>Takip edilen konular</b>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="Login" asp-controller="Account">Giriş Yap</a>
                        </li>
                    }
                    else
                    {
                        
                        // düzeltilmeli
                        if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link active"
                                   asp-area="Admin"
                                   asp-controller="Panel" 
                                   asp-action="Index">Panel</a> 
                            </li>   
                        }
                        <li class="nav-item">
                            <a class="nav-link active"
                               asp-controller="User"
                               asp-action="Index" asp-route-username="@User.Identity.Name"
                               aria-current="page">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"
                               asp-controller="Notification"
                               asp-action="notifications"
                               aria-current="page">
                                <i class="fa fa-envelope" aria-hidden="true">
                                    <span class="text-danger" style="font-size: 22px">( 
                                        @await Component.InvokeAsync("NotificationCount")
                                        )</span>
                                    
                                </i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="Logout" asp-controller="Account">Çıkış Yap</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
