@{
    ViewData["Title"] = "Yönlendirme";
}

@section Head
{
    <link asp-append-version="true" rel="stylesheet" href="~/css/styleprofile.css"></link>
}

<div class="mt-3 row">
    <div class="col-9">

    </div>
</div>
<nav class="menu">
    <input checked="checked" class="menu-toggler" type="checkbox">
    <label for="menu-toggler"></label>
    <ul>
        <li class="menu-item">
            <a class="" asp-action="editProfile" asp-route-username="@User.Identity.Name"
               title="profili düzenlemek için tıkla">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="notifications" asp-controller="Notification"
               title="tüm yorumları görmek için tıkla">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
        <li class="menu-item">
            <a class="" href="/"
               title="ana sayfaya dönmek için tıkla">
                <i class="fa fa-arrow-right"></i>
            </a>
        </li>

    </ul>
</nav>


<style>
    .footer {
        display: none;
    }
</style>
