@model ResetPasswordModel

@{
    ViewData["Title"] = "Şifre Sıfırlama"; 
}

<link rel="stylesheet" href="~/css/app.css"></link>

<div class="logReg mt-4">
  <div class="wrapper">
    @if (TempData["message_reset"] is not null)
    {
      <div class="text-warning mb-3">@TempData["message_reset"]</div>
    }


    <div class="">
      <div class="">
        <div class="title">Yeni Şifre</div>
        <form class="flip-card__form" method="post" asp-action="ResetPassword">
          <div class="text-danger" asp-validation-summary="All"></div>

          <input type="hidden" asp-for="Token"/>
          <input type="hidden" asp-for="Id"/>

          <input class="flip-card__input" asp-for="Password" placeholder="Parola">
          <input class="flip-card__input" asp-for="ConfirmPassword" placeholder="Parola tekrar">
          <button class="flip-card__btn" type="submit">Sıfırla</button>
        </form>
      </div>
    </div>

  </div>
</div>