@{
    ViewData["Title"] = "Home Page";
}

@section Head
{
  <link rel="stylesheet" asp-append-version="true" type="text/css" href="style1.css">
  <link rel="stylesheet" asp-append-version="true" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" asp-append-version="true" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
}

@section Header
{
    <!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog Home!</h1>
            <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
        </div>
    </div>
</header>
}

<div class="headings d-flex justify-content-between align-items-center mb-3">
    <h5>Son eklenenler</h5>
           
    <div class="buttons">
        <span class="badge bg-white d-flex flex-row align-items-center">
            <div class="btn-group">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Subject" asp-action="Create" class="btn btn-warning mx-2">Konu Oluştur</a>
                }
                <a href="" class="btn btn-primary">Son Mesajlar</a>
            </div>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="row  d-flex justify-content-center">
            @await Component.InvokeAsync("HomePageContent")
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4 mt-2">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search"/>
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </div>
            </div>
        </div>
        <!-- Categories widget-->
        <div class="card mb-4">
            @await Component.InvokeAsync("SiteStatistics")
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">En çok kalplenen konular</div>
            @await Component.InvokeAsync("MostHeart")
        </div>
        
        <div class="card mb-4">
            <div class="card-header">Aktif Kullanıcı Sayısı</div>
            <div class="card-body"><span id="usersOnline"></span></div>
        </div>
        
    </div>
</div>


    
    
@section Scripts
{
    <script asp-append-version="true" src="js/UserOnline.js"></script>

    <script type="text/javascript">
        Online();
    </script>
}
