@model CreateSubjectDto

@section Header
{
    <link rel="stylesheet" href="css/style4.css"/>
}

<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Konu Oluştur</h1>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="card mt-2 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form asp-action="Create" method="post" enctype="multipart/form-data">
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <input type="hidden" name="Name" value="@User.Identity.Name"/>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_name">Başlık *</label>
                                            <input type="text" class="form-control" placeholder="Konu başlığı *" required="required" asp-for="Title">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ön ek</label>
                                            <input class="form-control" asp-for="prefix">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Konu Seçiniz *</label>
                                            <select class="form-control my-3"
                                                    asp-items="@ViewBag.Categories" asp-for="categoryId"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="form_message">
                                                @if (TempData["create_message"] is not null)
                                                {
                                                    <p class="text-warning">@TempData["create_message"]</p>
                                                }
                                                Konu *
                                                <i class="fa fa-question text-warning"
                                                   data-toggle="tooltip"
                                                   data-popper-placement="top"
                                                   title="(Video linki bırakacaklar youtube videoları maalesef çalışmamakta,konu seçimine dikkat edin etmeyenler cezalandırılır.)">
                                                </i>
                                            </label>
                                            <textarea class="form-control" asp-for="Content"></textarea>
                                        </div>

                                    </div>


                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success btn-send pt-2 btn-block mt-2">Konu Oluştur</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    
    
    <script>

    ClassicEditor.create( document.querySelector('#Content'),{
                extraPlugins: [ MyCustomUploadAdapterPlugin ]
    })
    .then(editor => {
          
      })
     .catch(error => {
         console.error(error);
     });
    
    
    $(document).ready(() => {
        $('[data-toggle="tooltip"]').tooltip();
    });

    </script>
}
    