
@{
    ViewData["Title"] = "Gösterge Paneli";
}


<div class="container-fluid">
                
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gösterge Paneli</h1>
    </div>
                
    @await Component.InvokeAsync("infocards")
                                    
                
    <!-- Content Row -->
    <div class="row">
        @await Component.InvokeAsync("messageForOfficials")
    </div>
                
</div>