@model CategoryViewModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

@section Head
{
  <link rel="stylesheet" href="~/css/style1.css">
  <link rel="stylesheet" asp-append-version="true" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" asp-append-version="true" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
}

@section Header
{
    
}


<div class="headings d-flex justify-content-between align-items-center mb-3">
    <div>
        <h5>@Model?.CategoryName</h5>
        <h6 style="color: gray">@Model?.CategoryDesc</h6>
        
    </div>       
    <div class="buttons">
        <span class="badge bg-white d-flex flex-row align-items-center">
            <div class="btn-group">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Subject" asp-action="Create" class="btn btn-warning mx-2">Konu Oluştur</a>
                }
                <a asp-action="LastComments" class="btn btn-primary">Son Mesajlar</a>
            </div>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="row d-flex justify-content-center">
        
        @await Component.InvokeAsync("HomePageContent",new {CategoryUrl = Model?.CategoryUrl,p = Model.p,action="Tags",category=@Model.CategoryUrl})
        
        </div>
        <!-- subjects -->
        @await Component.InvokeAsync("GetSubjects")
    </div>
    <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4 mt-2">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search"/>
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </div>
            </div>
        </div>
        
        <!-- Categories widget-->
        <div class="card mb-4">
            @await Component.InvokeAsync("SiteStatistics")
        </div>
        <!-- Most heart widget-->
        <div class="card mb-4">
            <div class="card-header">En çok kalplenen konular</div>
            @await Component.InvokeAsync("MostHeart")
        </div>
        <div class="card mb-4">
            <div class="card-header">En çok yorumlanan</div>
            @await Component.InvokeAsync("MostComments")
        </div>
        <!-- Social Medias widget-->
        <div class="card mb-4">
            <div class="card-header">Sosyal medya hesapları</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 justify-content-between text-center">
                        
                        <a href="https://github.com/bugraozdmr" target="_blank"><i class="fa fa-github mx-1" style="font-size:48px;color:black"></i></a>
                        <!--<a href="#" target="_blank"><i class="fa fa-instagram mx-1" style="font-size:48px;color:orange"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
    
@section Scripts
{
    
    <script type="text/javascript">
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
